:root {
  --p-inputtext-focus-ring-color: rgb(126, 126, 126) !important;
  --p-select-focus-ring-color: rgb(126, 126, 126) !important;
  --p-select-option-selected-background: var(--p-surface-100) !important;
  --p-select-option-selected-color: black !important;
}

.p-select-option.p-select-option-selected.p-focus {
  background: var(--p-select-option-selected-background) !important;
  color: var(--p-select-option-selected-color) !important;
}

.row {
  display: flex;
}

.row-5 {
  display: flex;
  gap: 5px;
}

.row-10 {
  display: flex;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.col-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.p-button {
  background: $primaryColor;
  outline: $primaryColor;
}

.p-paginator {
  background: transparent !important;
}

.p-toast {
  max-width: 300px;
}

.p-password {
  input {
    width: 100%;
  }
}
